*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.grille{
    
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: repeat(7, 70px);
    grid-template-areas: 
    "a a a a"
    "b c d e"
    "f g h i"
    "j k l m"
    "n o p q"
    "r s t u"
    "v w ù z";
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}
p{
    margin-top: 25px;
}
div div{
    border: 1px solid rgb(102, 102, 102);
}
.grid-item1{
    grid-area:a;
    background: rgb(102, 102, 102);
    text-align: right;
    font-size: 30px;

}
.grid-item2{
    grid-area:b;
    background: rgb(136, 136, 136);
}
.grid-item3{
    grid-area:c;
    background: rgb(136, 136, 136);
}
.grid-item4{
    grid-area: d;
    background: rgb(136, 136, 136);
}
.grid-item5{
    grid-area: e ;
    background: rgb(136, 136, 136);
}
.grid-item6{
    grid-area: f;
    background: rgb(136, 136, 136);
}
.grid-item7{
    grid-area: g;
    background: rgb(136, 136, 136);
}
.grid-item8{
    grid-area: h;
    background: rgb(136, 136, 136) ;
}
.grid-item9{
    grid-area: i;
    background: rgb(136, 136, 136);
}
.grid-item10{
    grid-area: j;
    background: whitesmoke;
}
.grid-item11{
    grid-area: k;
    background: whitesmoke;
}
.grid-item12{
    grid-area:l ;
    background: whitesmoke;
}
.grid-item13{
    grid-area: m;
    background: rgb(136, 136, 136);
}
.grid-item14{
    grid-area:n ;
    background:whitesmoke ;
}
.grid-item15{
    grid-area: o;
    background: whitesmoke;
}
.grid-item16{
    grid-area:p ;
    background: whitesmoke;
}
.grid-item17{
    grid-area:q ;
    background: rgb(136, 136, 136);
}
.grid-item18{
    grid-area:r ;
    background:whitesmoke ;
}
.grid-item19{
    grid-area:s ;
    background:whitesmoke ;
}
.grid-item20{
    grid-area: t;
    background:whitesmoke ;
}
.grid-item21{
    grid-area: u;
    background:rgb(136, 136, 136) ;
}
.grid-item22{
    grid-area: v;
    background:whitesmoke ;
}
.grid-item23{
    grid-area: w;
    background:whitesmoke ;
}
.grid-item24{
    grid-area: ù;
    background:whitesmoke ;
}
.grid-item25{
    grid-area: z;
    background: rgba(34, 132, 197, 0.801);
}